<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Details Contact</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger" role="alert">
        Contact tidak ditemukan
        <a href="/contact" class="alert-link"
          >&laquo; kembali ke daftar kontak</a
        >
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= contact.nohp %>
          </h6>
          <p class="card-text"><%= contact.email%></p>
          <a
            href="/contact/edit/<%= contact.nohp %>"
            class="btn badge text-bg-info"
          >
            <i class="bi bi-pencil-square"></i> update
          </a>
          
          <form method="POST" action="/contact?_method=DELETE" class="d-inline">
            <input type="hidden" name="id" value="<%= contact._id %>" >
            <button type="submit" onclick="return confirm('yakin?');" class="btn badge text-bg-danger"><i class="bi bi-trash3"></i> delete</button>
          </form>
          <a href="/contact" class="card-link d-block mt-3">&laquo; kembali</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>